button {
  margin: 0;
  padding: 6px 16px;
  border-width: 0;
  border-radius: 4px;

  color: inherit;
  text-align: inherit;

  background-color: transparent;
  cursor: pointer;
}

.btn-small {
  padding: 4px 10px;
  font-size: 0.8125rem;
}

.btn-medium {
  padding: 6px 16px;
  font-size: 0.875rem;
}

.btn-large {
  padding: 7px 21px;
  font-size: 0.9375rem;
}

.btn-contained {
  background-color: #6200ee;
  color: white;
}
.btn-contained:hover {
  border-color: #7d22ff;
}

.btn-outlined {
  border: 1px solid #ccc;
}
.btn-outlined:hover {
  background-color: #fafafa;
}

.btn-text.btn-small {
  padding: 4px 5px;
}
.btn-text.btn-medium {
  padding: 6px 8px;
}
.btn-text.btn-large {
  padding: 8px 11px;
}
.btn-text:hover {
  background-color: #fafafa;
}
