<template>
  <div class="overflow-center">
    <slot />
  </div>
</template>

<script>
export default {
  mounted() {
		const elem = this.$slots.default[0].elm;

		setTimeout(() => {
			elem.scrollIntoView({
				behavior: 'auto',
				block: 'center',
				inline: 'center'
			});
		});
	}
}
</script>

<style>
  .overflow-center {
    height: 300vh;
    width: 300%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
